<%- include('header') -%>

<head>
    <style>
        h1 {
            color: black;
        }

        p {
            color: rgb(31, 28, 28);
            font-family: monospace;
        }
    </style>
</head>

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in fermentum lacus. Vivamus non nibh id metus
        cursus volutpat sed sit amet nulla. Donec mattis sit amet mauris sed hendrerit. Ut ornare, risus sed porta
        vulputate, dolor est pulvinar nisl, suscipit cursus nibh nunc vel urna. Vivamus in mauris fermentum, vehicula
        dui nec, rutrum lorem. Donec luctus justo lacus, et posuere arcu lobortis non. Morbi sit amet erat a justo
        malesuada suscipit. Integer suscipit nisl vitae metus aliquam interdum. Pellentesque aliquam pulvinar ante at
        porta.</p>

    <%- include('footer') -%>